.text-center{
   text-align: center; 
}

small{
    font-size: 80%;
    font-weight: 400;
}

a{
    color: #ff8800;
    text-decoration: none;
    background-color: transparent;
}

p{
    color: #fafafa;
}