
<div class="socials-icons">
    <div class="icon facebook" *ngIf="socialNetworkDetail.facebook">
        <a [href]="socialNetworkDetail.facebooklink" target="_blank"></a>
        <p>Facebook</p>
    </div>
    <div class="icon linkedin" *ngIf="socialNetworkDetail.linkedin">
        <a [href]="socialNetworkDetail.linkedinLInk" target="_blank">
        </a>
        <p>Linkedin</p>
    </div>
    <div class="icon instagram" *ngIf="socialNetworkDetail.instagram">
        <a [href]="socialNetworkDetail.instagramLink" target="_blank"></a>
        <p>Instagram</p>
    </div>
    <div class="icon github" *ngIf="socialNetworkDetail.github">
        <a [href]="socialNetworkDetail.githubLink" target="_blank"></a>
        <p>Github</p>
    </div>
</div>